div.news-main {
    /* height:800px; */
}
/* 左部分 */
div.news-main-left {
    padding:150px 0 0 0;
}
/* 左部分导航模块 */

/* 标题模块(非可操作) */
div.news-main-left div.title {
    width:90%;
    height:50px;
    text-align: center;
    font-family: MicrosoftYaHei;
    font-weight:bold;
    font-size:18px;
    color:#fff;
    background:#777777;
    line-height:50px;
    /* 居中 */
    /* margin:0 auto 10px auto; */
    margin-bottom:10px;
}
/* 剩余可操作模块 */
div.news-main-left div.modules {
    width:90%;
    height:50px;
    /* 居中 */
    /* margin:0 auto 10px auto; */
    margin-bottom:10px;
    text-align: center;
    font-family: MicrosoftYaHei;
    font-weight:bold;
    font-size:18px;
    color:#fff;
    background:#dddddd;
    line-height:50px;
    cursor:pointer;
}
/* 模块们被点中 */
div.news-main-left div.modules.active {
    background:#ffb22d;
}







/* 右部分 */
div.news-main-right {
    padding:0;
}
/* 大标题 */
div.news-main-right .right-header {
    padding:50px 0 50px 0;
    border-bottom:1px solid #ddd;
}
div.news-main-right .right-header h4 {
    font-size: 24px;
    font-family: MicrosoftYaHei;
    font-weight:bold;
    color:#222;
}
/* 包含内容的ul */
div.news-main-right ul.con-list {

}
/* ul中的li */
div.news-main-right ul.con-list li {
    padding:10px 0 10px 0;
    border-bottom:1px solid #ddd;
}
/* li中的日期部分 */
div.news-main-right ul.con-list div.date {
    width:80px;
    height:80px;
    background:#ddd;
    position: relative;
    cursor: auto;
}
/* 日期块的斜线 */
div.news-main-right ul.con-list div.date .line {
    margin-top:40px;
    width:100px;
    height:2px;
    background: #fff;
    margin-left:-25px;
    transform: rotate(135deg);
}
/* 日期块的日 */
div.news-main-right ul.con-list div.date .day {
    color:#fff;
    font-size:40px;
    position: absolute;
    top:-7px;
    left:2px;
}
/* 日期块的月 */
div.news-main-right ul.con-list div.date .month {
    color:#fff;
    font-size:18px;
    position: absolute;
    right:2px;
    bottom:22px;
}
/* 日期块的年 */
div.news-main-right ul.con-list div.date .year {
    color:#fff;
    font-size:18px;
    position: absolute;
    right:2px;
    bottom:0px;
}
/* 日期选中效果 */
div.news-main-right ul.con-list li.active .date {
    background:#ffb22d;
}
/* li内容部分 */
div.news-main-right ul.con-list a.content {
    display:block;
    cursor: pointer;
    color:#444;
    /* border:1px solid #000; */
}
/* li内容部分的标题 */
div.news-main-right ul.con-list a.content div.con-title p {
    font-family: MicrosoftYaHei Regular;
    color:#444;
    font-size:18px;
}
/* li内容部分的标题选中效果 */
div.news-main-right ul.con-list li.active a.content div.con-title p {
    color:#d98622;
}
/* li内容部分的文字 */
div.news-main-right ul.con-list a.content div.con-content p {
    font-family: Microsoft Regular;
    font-size:14px;
    color:#666;
    /* 隐藏超出 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* li内容部分的照片 */
div.news-main-right ul.con-list div.li-img {
    background: #4df;
    height:80px;
    padding:0;
    max-width:100%;
}




/* 侧滑版本的左侧导航栏目 */
div.news-main-left.visible-xs {
    position:fixed;
    top:100px;
    left:-200px;
    width:200px;
    z-index:999;
    background:#fff;
    box-shadow: -2px 4px 10px #ddd;
    transition: all 1s ease;

}
/* 导航隐藏显示控制器 */
div.news-main-left.visible-xs div.left-control {
    position: absolute;
    right:-18px;
    top:50%;
    margin-top:-41px;
    background:#4df;
    color:#fff;
    width:18px;
    padding:0 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 2px 2px 6px #4df;
    cursor: pointer;
}
div.news-main-left.visible-xs div.left-control:hover {
    filter: brightness(110%);
}

















/* 查询部分 */
/* 小屏幕时将模块们居中 */
@media (max-width: 992px) {
    div.news-main-left {
        padding-top:20px;
    }
    div.news-main-left div.title,
    div.news-main-left div.modules {
        margin:0 auto 10px auto;
        font-size:16px !important;
    }
}
/* 小屏幕时栏目大标题文字 */
@media (max-width: 767px) {
    div.news-main-right .right-header h4 {
        font-size:18px !important;
        /* height:20px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
    }
}
/* 小屏幕时新闻 */
@media (max-width: 767px) {
    /* 内容部分 */
    div.news-main-right ul.con-list li a.content {
        padding-left:6px !important;
        padding-right:6px !important;
        box-sizing: border-box;
    }
    /* 标题换行隐藏 */
    div.news-main-right ul.con-list li a.content .con-title p {
        font-size:14px !important;
        height:21px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* 内容换行隐藏 */
    div.news-main-right ul.con-list li a.content .con-content p {
        font-size:12px !important;
    }
 
}
/* 小屏幕时分页器 */
@media (max-width: 767px) {
    div.news-main-right div.changePage ul.pagination li a {
        padding:3px 6px !important;
    }
}

/* 非大屏幕时隐藏起左边导航栏目 */
@media (max-width: 991px) {
    
   
}


